##### JetBrains
.idea/

##### SVN
.svn/

##### Template folders
templates_c/**/*
!templates_c/**/.gitkeep

interna/templates_c/**/*.*
!interna/templates_c/**/.gitkeep

##### Log & Zip files
*.zip
*.log

##### Cache folders
cache/**/*.*
cache/*
!cache/**/.gitkeep

##### Setting files
lib/site_conf.php
