<!-- MODUL (intern): mod_back_top  -->
<div class="modul" id="mod_back_top" style="clear: both;">
	<ul class="floatbox">
		<li style="float: left;">
			{*<!--zurück.-->*}
			<a href="javascript:history.go(-1)" id="linkbacktop_back">{$message_2196}</a><span class="ignore">.</span>
		</li>
		<li style="float: right;">
			{*<!--Nach oben.-->*}
			<a href="#top" accesskey="1" id="linkbacktop_top">{$message_2024}</a><span class="ignore">.</span>
		</li>
	</ul>
</div>
<!-- ENDE MODUL (intern): mod_back_top -->
