{if $module_aktiv.mod_papoo_fontsize}
	<!-- MODUL: papoo_fontsize -->
	<div class="modul" id="mod_papoo_fontsize">
		<ul id="plusminus">
 <li>
 <a href="{$ref}&size=plus" class="bigger" title="Schrift vergrößern">A+</a><span class="ignore">.</span>
 </li>
  <li>
 <a href="{$ref}&size=null" class="normal" title="Schrift auf Standardgröße setzen">A</a><span class="ignore">.</span>
 </li>
  <li>
 <a href="{$ref}&size=minus" class="minus" title="Schrift verkleinern">A-</a><span class="ignore">.</span>
 </li>
 </ul>
	</div>
	<!-- ENDE MODUL: papoo_fontsize -->
{/if}
