{if $module_aktiv.mod_accesskeypad}
	<!-- MODUL: Accesskeypad -->
	<div class="modul" id="mod_access">
  <h3>{$mod_access1}</h3>
	<dl title="{$mod_access2}" class="acckeypad">
        <dt>{$mod_access5}</dt>
            <dd><a href="{$slash}index.php" accesskey="0" >{$mod_access6}</a><span class="ignore">.</span></dd>
        <dt>{$mod_access7}</dt>
			<dd><a href="javascript:history.go(-1)" accesskey="3" >{$mod_access8}</a><span class="ignore">.</span></dd>
        <dt>{$mod_access9}</dt>
            <dd><a href="{$slash}inhalt.php" accesskey="6" ><span xml:lang="en" lang="en">{$mod_access17}</span></a><span class="ignore">.</span> </dd>
        <dt>{$mod_access11}</dt>
			<dd><a href="#suchen" accesskey="7" >{$mod_access12}</a><span class="ignore">.</span></dd>
        <dt>{$mod_access13}</dt>
            <dd><a href="#artikel" accesskey="8" >{$mod_access14}</a><span class="ignore">.</span></dd>
        <dt>{$mod_access15}</dt>
		    <dd><a href="{$slash}kontakt.php" accesskey="9" >{$mod_access16}</a><span class="ignore">.</span></dd>
    </dl>
</div>
	<!-- ENDE MODUL: Accesskeypad -->
{/if}