{if $module_aktiv.mod_menue_sub}
	<!-- MODUL: menue_sub -->
	{if $menu_level.$menu_front_sub_aktiv}
		<div class="modul" id="mod_menue_sub">
			<a name="menu_sub" id="menu_sub"></a>

                        <h2>
                            {if $free_sp_urls=="ok"}
                                <a href="{$slash}{$aktueller_menupunkt_level0.menuname_free_url}" class="{$aktueller_menupunkt_level0.menuklasse}" title="{$aktueller_menupunkt_level0.lang_title}">{$aktueller_menupunkt_level0.menuname}</a>
                            {else}
                                <a href="{$slash}{$aktueller_menupunkt_level0.menulink}?menuid={$aktueller_menupunkt_level0.menuid}" class="{$aktueller_menupunkt_level0.menuklasse}" title="{$aktueller_menupunkt_level0.lang_title}">{$aktueller_menupunkt_level0.menuname}</a>
                            {/if}
                        </h2>

			{foreach item=kat from=$catlist_data.1}
				{if $kat.cat_id>1}<h2 class="menucat" id="catid_{$kat.cat_id}">{$kat.cat_text}</h2>{/if}
				{foreach item=menu from=$menu_data}
					{if $menu.level >= $menu_front_sub_startlevel}
						{if $kat.cat_id==$menu.cat_cid  or $no_categories==1}
							{$menu.shift_anfang_sub}
							
							{include file="_module/mod_menue_ebenen_links.inc.html"}
						
							{$menu.shift_ende_sub}
						{/if}
					{/if}
				{/foreach}
			{/foreach}
		</div> 
	{/if}
	<!-- ENDE MODUL: menue_sub -->
{/if}