body {
	margin:0px;
	padding:0px;
	font: 90% LucidaGrande, Lucida Grande, Lucida Sans Unicode,Verdana, Geneva, Arial, Helvetica, sans-serif;
	background:url(./images/admin_back_top_new.gif)  ;
	background-repeat:repeat-x;
	background-color:#DBDBDB;

}

fieldset {
	border:0px solid #fff;
	margin-top:5px;
}
label {
color:#2A2A2A;
font-size:95%;
}
h1 {
	font-size:260%;
	font-family:Times,serif;
	display:block;
	margin-left:100px;
	color:#323352;
	padding:5px;
	padding-top:0px;
	margin-top:20px;
	font-weight:400;
}
.einlogg h1 {
margin-left:0px;
}

h2 {
	font: 140% Trebuchet MS, Verdana;
display:block;
color:#2A2B49;
padding:3px;
border-bottom:1px solid #C5C6D5;

padding-left:0px;
}
h3 {
	font: 130% Trebuchet MS, Verdana;
display:block;
color:#2A2B49;
padding:5px;
border-bottom:1px solid #C5C6D5;

}
h4 {
	font: 110% Trebuchet MS, Verdana;
display:block;
color:#2A2B49;
padding:5px;
border-bottom:1px solid #C5C6D5;

}
h5 {
	font: 110% Trebuchet MS, Verdana;
display:block;
color:#2A2B49;
padding:5px;
border-bottom:1px solid #494A63;
background:#E2E2E4;
}
.frontendlink
{
	margin-top:-45px;
	margin-left:270px;
	display:block;
	width:100px;
	text-decoration:none;
	color:#323352;
	position:relative;

}
.einlogg {
	background:#fff;
	width:700px;
	margin:0px auto;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;


	-moz-box-shadow:3px 3px 6px #999;
	-webkit-box-shadow:3px 3px 6px #999;
	box-shadow:3px 3px 6px #999;
	border: 5px solid #fff;
	padding: 20px;
	padding-top:10px;
	background:url(./images/back_in.gif)  repeat-x ;
	background-position:top left;
	background-color:#fff;
		border-radius: 15px;

}
.einlogg_out {
	padding-top:21px;
 	margin:0px auto;
 	width:700px;

 }
.logo {
	width:700px;
	height:53px;
	background:url(./images/top_logo_new2.gif)  no-repeat ;
	background-position:0px;
	margin-left:20px;
}
#language,
.input{
	border:0px;
	background:#ddd;
	padding:5px;
	margin-top:3px;
	width:260px;
	border:1px solid #ccc;
}

input:focus,
input:active {
	background:#eee;

}
input {
	color:#333;
}
#username,
#password,
#language
{
	width:260px;
	font-size:110%;
	margin-bottom:-10px;

}
#language {
	width:271px;
	padding:1px;
}
.submit_back,
.submit_back:focus {
	background:transparent;
	border:none;
	color:#fff;
	background:url(./images/button.gif)  no-repeat ;
	background-position:5px 7px;
	width:155px;
	height:38px;
	font-size:120%;
	margin-left:120px;
	margin-top:5px;
}
input.submit_back_green {
	background:transparent;
	border:none;
	color:#fff;
	background:url(./images/button_green.gif)  no-repeat #6C7700 ;
	background-position:0px 0px;
	width:143px;
	height:27px;
	font-size:110%;
	font-weight:600;
	margin-top:5px;
    padding-bottom:5px;
}
input.submit_back_green_big  {
	background:transparent;
	border:none;
	color:#fff;
	background:url(./images/button_green_large.gif)  no-repeat #6C7700 ;
	background-position:0px 0px;
	width:188px;
	height:27px;
	font-size:110%;
	font-weight:600;
	margin-top:5px;
    padding-bottom:5px;
}
fieldset {
	border:1px solid #C4D1D9;
	background:#E1E1E1;
	margin-top:10px;
	padding:5px;
	    	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
-moz-box-shadow:3px 3px 6px #aaa;
	-webkit-box-shadow:3px 3px 6px #aaa;
	box-shadow:3px 3px 6px #aaa;
	border: 5px solid #DBDBDB;
}
legend {
border:1px solid #666;
background:url(./images/back_in.gif) #fff  repeat-x;
color:#000;
padding:5px;
margin-left:-20px;
 	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
}
table {
  border: 1px solid #CCCCCC;
  border-collapse: collapse;
  display: table;
  font-size: 100%;
  margin: 20px 0px 20px 0px;
  padding: 10px 0px 10px 0px;

}

tr {
  display: table-row;
}

th {
  background: #E2E2E4;
  display: table-cell;
  margin: 0px;
  padding: 4px;
  text-align: left;
  color:#2A2B49;
}

td {
  border: 1px solid #CCCCCC;
  display: table-cell;
  margin: 0px;
  padding: 4px;
  vertical-align: top;
}

table, tr, td {
  border-width: 0px 0px 1px 0px;
  padding: 7px 5px 7px 5px;
}
tr:hover {
background-color:#efefff;
}
select,
input[type=text],input[type=password] {
	border:0px;
	background:#fff;
	padding:3px;
	border:1px solid #666;
	font-size:100%;
	margin-right:3px;
}